<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="magicmanam.UndoRedo" version="1.0.0" targetFramework="net45" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net452" />
</packages>