<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuferMAN.Settings.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BuferMAN.Settings.User>
            <setting name="ShowUserModeNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentBuferBackgroundColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuferDefaultBackgroundColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PinnedBuferBackgroundColor" serializeAs="String">
                <value>-8943463</value>
            </setting>
            <setting name="FocusTooltipDuration" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="ShowFocusTooltip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestorePreviousSession" serializeAs="String">
                <value>True</value>
            </setting>
        </BuferMAN.Settings.User>
    </userSettings>
</configuration>