<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="magicmanam.UndoRedo" version="1.0.0" targetFramework="net45" />
  <package id="magicmanam.Windows" version="1.0.1" targetFramework="net45" />
  <package id="magicmanam.Windows.ClipboardViewer" version="1.0.1" targetFramework="net45" />
</packages>